
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');



.outfit-unique {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(72, 70, 70);
}

h1 {
  color: #080808;
  text-decoration: transparent;
}
h4 {
  color:rgb(103, 139, 103)
}
p {
  color: white;
}
a {
  color: #e0d0d0;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(yellow);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: #fff;
}
.btn:hover {
  background: rgba(red, rgb(103, 139, 103), blue, alpha);
  color: #fff;
  transition: 0.3s;
}